/* Estilos base para todo tipo de pantallas */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f0f0f0;
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 10px; /* Añade un pequeño relleno al body */
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px; /* Tamaño de fuente más grande para pantallas pequeñas */
}

label {
    margin-bottom: 10px;
    color: #666;
}

input[type="file"], input[type="date"], button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ancho completo en pantallas pequeñas */
    max-width: 300px; /* Ancho máximo para evitar que sea demasiado ancho */
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Nuevo contenedor flexible */
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Ancho máximo para el contenedor */
}

#results, #filteredMessages {
    width: 45%; /* Ancho de cada caja */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    word-wrap: break-word;
    max-height: 500px; /* Altura máxima */
    overflow-y: auto; /* Barra de desplazamiento vertical */
    margin-top: 20px;
}

#results h2, #filteredMessages h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #444;
}

/* Media query para pantallas pequeñas (como teléfonos) */
@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    input[type="file"], input[type="date"], button {
        font-size: 14px;
    }
    .container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center;
    }
    #results, #filteredMessages {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        max-width: 600px; /* Ancho máximo */
    }
    #results {
        margin-bottom: 20px; /* Espacio entre las cajas */
    }
    #results h2, #filteredMessages h2 {
        font-size: 16px;
    }
}
